@font-face {
    font-family: comfortaa;
    src: url(Comfortaa-Light.ttf);
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 30px;
    margin: 20px;
    margin-left: 0px;
}

section {
    font-family : comfortaa;
    font-size : 20px;
    /* margin-left: 10%; */
    /* margin-right: 10% */
}

.quick-access {
    background-color: white;
}

.records {
    background-color: #FAF0C5;
    color: black;
    text-align: center;
    border-radius: 8px;
    width: 30%;
    height: 80px;
    text-decoration: none;
    padding-top: 24px;
    display: inline-block;
    font-size: 30px;
    margin: 2.2%;
    margin-left: 0%;
}

.manage {
    background-color: #FAF0C5;
    color: black;
    text-align: center;
    border-radius: 8px;
    width: 30%;
    height: 80px;
    text-decoration: none;
    padding-top: 24px;
    display: inline-block;
    font-size: 30px;
    margin: 2.2%;
}

.profile {
    background-color: #FAF0C5;
    color: black;
    text-align: center;
    border-radius: 8px;
    width: 30%;
    height: 80px;
    text-decoration: none;
    padding-top: 24px;
    display: inline-block;
    font-size: 30px;
    margin: 2.2%;
    margin-right: 0%;
}

.ance {
    background-color: #d9d9d9;
    border-radius: 8px;
    height: 300px;
    width: 100%;
    text-align: center;
}

.ance-text{
    color: #737373;
    text-align: center;
    vertical-align: middle;
    line-height: 300px;
}

.main-body {
    background-color: white;
    margin-top: 120px;
    margin-left: 5%;
    margin-right: 5%;
}