@font-face {
    font-family: comfortaa;
    src: url(Comfortaa-Light.ttf);
}

h1 {font-size: 50px;
}

h2 {font-size: 30px;
}

section {
    font-family : comfortaa;
    font-size : 20px;
}

.quick-access {background-color: white;
}

.records {
    background-color: #FAF0C5;
    color: black;
    text-align: center;
    border-radius: 8px; /* make corners round */
    width: 30%;
    height: 80px;
    text-decoration: none;
    padding-top: 24px; /* align text to center of box */
    display: inline-block; /* align to manage and profile */
    font-size: 30px;
    margin: 2.2%;
    margin-left: 0%;
}

.manage {
    background-color: #FAF0C5;
    color: black;
    text-align: center;
    border-radius: 8px; /* make corners round */
    width: 30%;
    height: 80px;
    text-decoration: none;
    padding-top: 24px; /* align text to center of box */
    display: inline-block; /* align to records and profile */
    font-size: 30px;
    margin: 2.2%;
}

.profile {
    background-color: #FAF0C5;
    color: black;
    text-align: center;
    border-radius: 8px; /* make corners round */
    width: 30%;
    height: 80px;
    text-decoration: none;
    padding-top: 24px; /* align text to center of box */
    display: inline-block; /* align to records and profile */
    font-size: 30px;
    margin: 2.2%;
    margin-right: 0%;
}

.ance { /* announcement box */
    background-color: #d9d9d9;
    border-radius: 8px;
    height: 300px;
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center; 
    justify-content: center;
}

.ance-text{  /* text in announcement box */
    color: #737373;
    text-align: center;
}

.main-body {
        margin-top: 150px;
        margin-left: 30%;
        margin-right: 30%;
}