@font-face {
    font-family: comfortaa;
    src: url(Comfortaa-Light.ttf);
}

* {
    padding : 0;
    margin : 0;
    box-sizing : border-box;
}

.topbar-section{
    background-color: white;
    height: 80px;
    display: flex;
    align-items: center;
    padding-left: 30px;
    vertical-align: middle;
    box-shadow: 0px 5px 5px #d9d9d9;
}

.logo-img1 {
    height: 61px;
    width: 61px;
}

.logo-text1 {
    font-family : comfortaa;
    font-size : 32px
    }

.contact-text{
    position : relative;
    left : 950px;
    font-family : comfortaa;
    color : black;
    text-decoration:none
}

.faqs-text{
    position : relative;
    left : 970px;
    font-family : comfortaa;
    color : black;
    text-decoration:none
}

.divider{
    position : relative;
    left : 990px;
    font-family : comfortaa;
    color : black;
}

.login-text{
    position : relative;
    left : 1010px;
    font-family : comfortaa;
    color : black;
    text-decoration:none;

}

.sign_up_button1{
    position : relative;
    left : 1030px;
    font-family : comfortaa;
    background-color: #2f99e9;
    border-radius: 10px;
    border : none;
    width: 100px;
    height: 40px;
}

.tagline-section{
    padding-top : 250px;
    padding-bottom : 100px;
}

.slogan-container{
    
    padding-left : 250px;
    max-width : 50%;
}

.slogan-text{
    font-family : comfortaa;
    font-size : 36px;
}

.detailed-description-container{
    padding-top : 20px;
    padding-bottom : 20px;
    padding-left : 250px;
    max-width : 42%;
}

.detailed-description-text{
    font-family : comfortaa;
    font-size : 16px;
    color : #b0b0b0;
}

.sign_up_button2{
    position : relative;
    left : 250px;
    font-family : comfortaa;
    background-color: #2f99e9;
    border-radius: 10px;
    border : none;
    width: 150px;
    height: 50px;
    font-size : 18px;
    font-weight : bold
}

.description-section{
    background-image: linear-gradient(#76a6f4, #4e8df4);
}

.brief-description-container{
    text-align : center;
    padding-top : 50px;
}

.brief-description-text{
    font-family : comfortaa;
    color : white;
}

.feature-item{
    height: 200px;
    border-radius: 20px;
    width: 80%;
    background-color: #f5f5f5;
    text-align: center;
    vertical-align: top;
    box-shadow: 3px 10px 5px #d9d9d9;
}