@font-face {
    font-family: comfortaa;
    src: url(Comfortaa-Light.ttf);
}

* {
    padding : 0;
    margin : 0;
    box-sizing : border-box;
    max-width : 100%;
}

.topbar-section{
    background-color: white;
    height: 80px;
    max-width: 100%;
    display: flex;
    align-items: center;
    padding-left: 30px;
    box-shadow: 0px 5px 5px #d9d9d9;
    position: fixed; 
    top: 0; 
    width: 100%; 
    z-index : 1;
}

.logo-img1 {
    height: 61px;
    width: 61px;
    margin-right: auto;
}

.logo-text1 {
    margin-right : auto;
    font-family : comfortaa;
    font-size : 32px;
    color: black;
    text-decoration: none;
    }

.links-container{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    margin-right: 30px;
    margin-left: 100px;
}
.contact-container{
    position : relative;
    right : 80px;
}

.faqs-container{
    position : relative;
    right : 60px;
}

.text{
    font-family : comfortaa;
    color : black;
    text-decoration: none;
}

.divider-container1{
    position : relative;
    right :70px;
}

.divider-container{
    position : relative;
    right : 40px;
}

.login-container{
    position : relative;
    right : 20px;
}

.login-text{
    font-family : comfortaa;
    color : black;
    text-decoration:none;
}

.sign_up_button1{
    text-decoration: none;
    color : white;
    text-align: center;
    padding-top : 12px;
    margin-left : 10px;
    font-family : comfortaa;
    background-color: #728ddf;
    border-radius: 10px;
    border : none;
    width: 100px;
    height: 40px;
}

.profile-button{
    border: none;
    color: white;
    width : 50px;
    height : 50px;
    text-decoration: none;
    border-radius: 50%;
}

.footer{
    text-align: right;
    margin-top: 100px;
    margin-right: 20px;
}

.privacypolicy-text{
    padding-right : 10px;
    color: #728ddf;
    font-family : comfortaa;
    text-decoration : none;
    font-size : 12px;
    font-weight : bold;
}

.terms-text{
    padding-right : 10px;
    font-family : comfortaa;
    color: #728ddf;
    text-decoration : none;
    font-size : 12px;
    font-weight : bold;
}