@font-face {
  font-family: comfortaa;
  src: url(Comfortaa-Light.ttf)
}

* {
    padding : 0;
    margin : 0;
    box-sizing : border-box;
    max-width : 100%;
}

.register-box{
    margin-top : 250px;
    margin-left : auto;
    margin-right : auto;
    text-align : center;
    box-shadow: 0px 5px 5px 5px #d9d9d9;
    height : 500px;
    width : 500px;
    border-radius: 10px;
}

.logo-img2 {
    height: 61px;
    width: 61px;
    margin-right: auto;
}

.register-box-title{
    font-family : comfortaa;
    font-size : 32px;
    margin-top : 20px;
}

.name-field-container{
    margin-top : 10px;
    margin-left : auto;
    margin-right : auto;
    width : 400px;
    height : 50px;
    background-color: #FBF2CF;
    border : none;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
}

#name-field{
    font-family: comfortaa; 
    background-color :  #FBF2CF;
    height : 50px;
    width : 350px;
    padding-left : 20px;
    border : none;
    border-radius: 10px;
    float: left;
}

.username-field-container{
    margin-top : 10px;
    margin-left : auto;
    margin-right : auto;
    width : 400px;
    height : 50px;
    background-color: #FBF2CF;
    border : none;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
}

#username-field{
    font-family: comfortaa; 
    background-color :  #FBF2CF;
    height : 50px;
    width : 350px;
    padding-left : 20px;
    border : none;
    border-radius: 10px;
    float: left;
}

.password-field-container{
    margin-top : 10px;
    margin-left : auto;
    margin-right : auto;
    width : 400px;
    height : 50px;
    background-color: #FBF2CF;
    border : none;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
}

#pass-field{
    font-family: comfortaa; 
    background-color :  #FBF2CF;
    height : 50px;
    width : 350px;
    padding-left : 20px;
    border : none;
    border-radius: 10px;
    float: left;
}

.TOS-checkbox-container{
    margin-top : 20px;
    margin-left : auto;
    margin-right : auto;
    width : 400px;
    height : 40px;
    padding-left : 10px;
    text-align : left;
    font-family: comfortaa;
    font-size : 12px;
}

.create-account-button-container{
    margin-top : 30px;
    margin-left : auto;
    margin-right : auto;
    width : 400px;
    height : 40px;
    padding-left : 10px;
}

.create-account{
    margin-left : auto;
    font-family : comfortaa;
    background-color: #8AADF4;
    border-radius: 10px;
    border : none;
    width: 400px;
    height: 40px;
    color : white;
    cursor: pointer;
}

.error_msg {color: red;
            font-weight: bold;
            font-family: comfortaa;
            text-align: center;
            margin-top: 15px;
}

.tooltip{
    font-family: comfortaa;
    font-size: 15px;
    color: #999999;
    width: 50px;
    height: 50px;
    text-align: center;
    margin-top: 15px;
}

.tooltip .tooltiptext{
    visibility: hidden;
    background-color: #333333;
    color: #fff;
    text-align: center;
    padding: 5px;
    border-radius: 6px;
    font-size: 10px;
    white-space: nowrap;
    position: relative;
    top: 10px;
    left: -200px;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}