<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editable Boxes</title>
    <link rel="stylesheet" type="text/css" href="pp_style.css">
</head>
<body>
    <a href="#" class="back-button">&larr;</a>
    <div class="container">
        <div class="box-container">
            <div class="overlay-box">
                <div class="overlay-content">
                    <div class="picture">
                        <img src="your_image.jpg" alt="Picture">
                    </div>
                    <div class="right-content">
                        <h3>Right Header</h3>
                        <p>Right Subheader</p>
                    </div>
                </div>
            </div>
            <div class="box">
                <label for="box1">Box 1:</label>
                <input type="text" id="box1" name="box1" placeholder="Enter text">
            </div>


        </div>
        <div class="box">
            <label for="box2">Box 2:</label>
            <input type="text" id="box2" name="box2" placeholder="Enter text">
        </div>

        <div class="box">
            <label for="box3">Box 3:</label>
            <input type="text" id="box3" name="box3" placeholder="Enter text">
        </div>
    </div>
    {% set loggedin = True %}    
    {% block content %}
        {% include 'navigation.html' %}
    {% endblock %}
</body>
</html>

