<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/home.css') }}">
        <title>Home Page</title>
    </head>

    <body>
        <div class='main-body'>
        <section>
            <h1>Welcome Back!</h1>
            <h2>Quick access</h2>
            <div class="quick-access"></div>
            <a class="records" href="/records_cca" target="new"> My Records</a>
            <a class="manage" href="/manage" target="new"> Manage</a>
            <a class="profile" href="/profile" target="new"> Profile</a>
        </section>
        <br>
        <section>
            <h2>Announcements</h2>
            <br>
            <div class="ance">
                <a class="ance-text">No announcements</a>
            </div>
        </section>
        </div>
        {% set loggedin = True %}    
        {% block content %}
            {% include 'navigation.html' %}
        {% endblock %}
    </body>
</html>


