<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}">
        <title>launch</title>
    </head>

    <body>
        <section class="topbar-section">
            <img class="logo-img1" src="{{ url_for('static',filename= 'images/cat.svg') }}">
            <span class="logo-text1">
                Meow
            </span>
            <div class = "links-container">
                <div class = "contact-container">
                <a class="contact-text" href="/temp" target="new">Contact</a>
                </div>
                <div class = "faqs-container">
                <a class="faqs-text" href = "/temp" target="new">FAQs</a>
                </div>
                <div class = "divider-container">
                <span class="divider-text">|</span>
                </div>
                <div class = "login-container">
                <a class="login-text" href="/login">Login</a>
                </div>
                <form action="/register" method="get">
                    <input type="submit" class="sign_up_button1" value="Sign up">
                </form>
            </div>
        </section>

        <section class="tagline-section">
            <div class = "tagline-container">
            <div class="slogan-container">
            <span class="slogan-text">
              <h2>The purrrfect records manager for you.</h2>
            </span>
            </div>

            <div class="slogan-subtext-container">
            <span class="slogan-subtext">
              <h5>Simplify Record-Keeping and Management effortlessly with Meow.</h5>
            </span>
            </div>
            <form action="/register" method="get">
                <div class = "sign_up_button2-container">
                <input type="submit" class="sign_up_button2" value="Sign up now">
                </div>
            </div>
            </form>
        </section>
        <section class = "description-section">
            <div class = "brief-description-container">
            <span class = "brief-description-text">
                <h2>Exciting Features!</h2>
            </span>
            </div>
            <div class="features-list">
                <input type="image" src="{{ url_for('static',filename= 'images/arrow.png') }}" alt="button" width="48" height="48" class="prev1">
                <div class = "feature-item">
                </div>
                <div class = "features-text-container">
                <div class = "features-text">
                    <h3>Convenience</h3>
                </div>
                <div class = "features-subtext">
                    <h5>Meow is packed full with exciting features!</h5>
                </div>
                </div>
                <input type="image" src="{{ url_for('static',filename= 'images/arrow.png') }}" alt="button" width="48" height="48" class="next1">
            </div>

            <div class="review-title-container">
            <span class="review-title-text">
                <h3>What our users say</h3>
            </span>
            </div>
            <div class="review-subtext-container">
            <span class="review-subtext">
                <h5>Positive reviews across the board!</h5>
            </span>
            </div>

            <div class = "reviews_list">
                <div class="review1">
                    <img src="{{ url_for('static',filename= 'images/person1.png') }}" class = "person-img1">
                    <div class="column1">

                    </div>
                </div>
                <div class="review2">
                    <img src="{{ url_for('static',filename= 'images/person2.png') }} " class = "person-img2">
                    <div class="column2">

                    </div>
                </div>
                <div class="review3">
                    <img src="{{ url_for('static',filename= 'images/person3.png') }}" class = "person-img3">
                    <div class="column3">

                    </div>
                </div>
            </div>
            <br>
            <br>
            <br>
        </section>
        <section class="ending-description">
            <div class = "reader-engagement-container">
            <div class = "reader-engagement-text">
            <img class="logo-img2" src="{{ url_for('static',filename= 'images/cat.svg') }}">
            <span class="logo-text2">
                Let's get in touch!
            </span>
            </div>
            <div class = "reader-engagement-subtext">
            <span class = "logo-subtext2">
                Meow is a group project where we bring convenience and love for cats all into a page!
            </span>
            </div>
            </div>
            <div class = 'email_message-container'>
                <form action="/" method="post">
                    <div class="email">
                    <input id="email-field" type="text" name="email" placeholder="email">
                    </div>
                    <div class="message">
                    <textarea id="message-field" type="text" name="message" placeholder="message"></textarea>
                    </div>
                    <input type="submit" class="submit-message" value="Submit">
            </div>
        </section>
    <hr>

    </body>
    <footer class='footer'>
        <a class="privacypolicy-text" href = "/pp" target="new">PRIVACY POLICY</a>
        <a class="terms-text" href = "/toc" target="new">TERMS AND CONDITIONS</a>

    </footer>
</html>