<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/slider.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}">
        <title>launch</title>
    </head>

    <body class = 'body'>
        <section class="topbar-section">
            <img class="logo-img1" src="{{ url_for('static',filename= 'images/cat.svg') }}">
            <span class="logo-text1">
                Meow
            </span>
            <a class="contact-text" href="/temp" target="new">Contact</a>
            <a class="faqs-text" href = "/temp" target="new">FAQs</a>
            <span class="divider">|</span>
            <a class="login-text" href="/login" target="new">Login</a>
            <form action="/register" method="get">
                <input type="submit" class="sign_up_button1" value="Sign up">
            </form>
        </section>

        <section class="tagline-section">
            <div class="slogan-container">
            <span class="slogan-text">
              <h2>The purrrfect records manager for you.</h2>
            </span>
            </div>

            <div class="detailed-description-container">
            <span class="detailed-description-text">
              <h5>Simplify Record-Keeping and Management effortlessly with Meow.</h5>
            </span>
            </div>

            <form action="/register" method="get">
                <input type="submit" class="sign_up_button2" value="Sign up now">
            </form>
        </section>
        <section class = "description-section">

            <div class = "brief-description-container">
            <span class = "brief-description-text">
                <h2>Exciting Features!</h2>
            </span>
            </div>
            <div class="features-list">
                <div class = "feature-item">
                </div>
                <div class = "features-text">
                    <h3>Convenience</h3>
                </div>

                <div class = "features-subtext">
                    <h5>Meow is packed full with exciting features!</h5>

                </div>
            </div>
            <input type="button" class="prev1">
            <img class = 'left-arrow-1' src="{{ url_for('static',filename= 'images/arrow.png') }}">
            <input type="button" class="next1">
            <img class = 'right-arrow-1' src="{{ url_for('static',filename= 'images/arrow.png') }}">

            <div class="review-title-container">
            <span class="review-title-text">
                <h3>What our users say</h3>
            </span>
            </div>
            <div class="review-subtext-container">
            <span class="review-subtext">
                <h5>Positive reviews across the board!</h5>
            </span>
            </div>

            <div class = "reviews_list">
                <div class="person-img1">
                    <img src="{{ url_for('static',filename= 'images/person1.png') }}">
                </div>
                <div class="person-img2">
                    <img src="{{ url_for('static',filename= 'images/person2.png') }}">
                </div>
                <div class="person-img3">
                    <img src="{{ url_for('static',filename= 'images/person3.png') }}">
                </div>
                <div class="column1">

                </div>
                <div class="column2">

                </div>
                <div class="column3">

                </div>
            </div>
            <br>
            <br>
            <br>
        <section class="ending-description">
            <div class = "reader-engagement-text">
           <img class="logo-img2" src="{{ url_for('static',filename= 'images/cat.svg') }}">
            <span class="logo-text2">
                Let's get in touch!
            </span>
            </div>
            <br>
            <div class = "reader-engagement-subtext">
            <span class = "logo-subtext2">
                Meow is a group project where we bring convenience and love for cats all into a page!
            </span>
            </div>
            <div class = 'email_message-container'>
                <form action="/" method="post">
                    <div class="email">
                    <input id="email-field" type="text" name="email" value="email">
                    </div>
                    <div class="message">
                    <textarea id="message-field" type="text" name="message" value="message">message</textarea>
                    </div>
                    <input type="submit" class="submit-message" value="Submit">
            </div>
        </section>
    <hr>

    </body>
    <footer class='footer'>
        <a class="privacypolicy-text" href = "/temp" target="new">PRIVACY POLICY</a>
        <a class="terms-text" href = "/temp" target="new">TERMS AND CONDITIONS</a>

    </footer>
</html>