<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style_login.css') }}">
        <title>Login HERE!</title>
    </head>

    <body>
        <section class="login-box">
            <br>
            <img class="logo-img1" src="{{ url_for('static',filename= 'images/cat.svg') }}">
            <h1 class="logo-text1">log in</h1>


            <form action="/login" method="post">
                <div class="username">
                <input id="user-field" type="text" name="username" value="" placeholder="Username"><br/>
                </div>

                <div class="password">
                <input id="pass-field" type="password" name="password" value="" placeholder="Password"><br/>
                </div>

                <br>

                <div class="login">
                <input type="submit" class="login" value="Login">
                </div>

                <div class="forget-pass">
                    <label for="pass" type="text" name="forgor"><a href="#forgetpass">Forget password?</a></label>
                </div>

                {% if error_msg %}
                <div style="border: 2px solid red;"><p>{{error_msg}}<p></div>
                {% endif %}
                {% if success_msg %}
                <br/><h2>{{success_msg}}</h2>
                {% endif %}
              
              
        </form>
        </section>
        <div class="tagline-section">
            New to Meow? <a href="/register">Sign up for free!</a>
        </div>
        {% set loggedin = False %}    
        {% block content %}
            {% include 'navigation.html' %}
        {% endblock %}
    </body>

</html>
