<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/navigation.css') }}">
        <title>Register HERE!</title>
    </head>

    <body>
        {% block body %}
        {% endblock %}
        {% if page == "landing" or page == "login" or page == "register" %}
        <section class="topbar-section">
            <img class="logo-img1" src="{{ url_for('static',filename= 'images/cat.svg') }}">
            <span class="logo-text1">
                Meow
            </span>
            <div class = "links-container">
                <div class = "contact-container">
                <a class="text" href="/temp" target="new">Contact</a>
                </div>
                <div class = "faqs-container">
                <a class="text" href = "/temp" target="new">FAQs</a>
                </div>
                <div class = "divider-container">
                <span class="text">|</span>
                </div>
                <div class = "login-container">
                <a class="text" href="/login">Login</a>
                </div>
                <form name="to-register" action="/register" method="get">
                    <input type="submit" class="sign_up_button1" value="Sign up">
                </form>
            </div>
        </section>
        {% endif %}

        {% if page == "home" or page == "profile" or page == "records" %}
        <section class="topbar-section">
            <img class="logo-img1" src="{{ url_for('static',filename= 'images/cat.svg') }}">
            <span class="logo-text1">
                <a href="/home"> Meow </a>
            </span>
            <div class = "links-container">
                <div class = "contact-container">
                <a class="text" href="/records_cca" target="new">My Records</a>
                </div>
                <div class = "divider-container1">
                <span class="text">|</span>
                </div>
                <div class = "faqs-container">
                <a class="text" href = "/temp" target="new">Manage</a>
                </div>
                <div class = "divider-container">
                <span class="text">|</span>
                </div>
                <div class = "login-container">
                <a class="text" href="/temp">Log Out</a>
                </div>
                <form name="view-profile" action="/profile" method="get">
                    <input type="submit" class = "profile-button" src="userprofile.png" value="">
                </form>
            </div>
        </section>
        {% endif %}
    </body>
