<!DOCTYPE HTML>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/pp_style.css') }}">
            
        <title>
            Meow's Privacy Policy
        </title>
    </head>
    <body>
        <div class="main-container">
            <div class="subsection-container">
                <!-- Content for the subsection -->
                <div class="sub-container">
                    <span class = "sect" id="topLink">
                        Overview
                    </span>
                    <span class="sect" id="triggerText1">
                        Section 1
                    </span>
                    <span class="sect" id="triggerText2">
                        Section 2
                    </span>
                    <span class="sect" id="triggerText3">
                        Section 3
                    </span>
                    <span class="sect" id="triggerText4">
                        Section 4
                    </span>
                    <span class="sect" id="triggerText5">
                        Section 5
                    </span>
                    <span class="sect" id="triggerText6">
                        Section 6
                    </span>
                    <span class="sect" id="triggerText7">
                        Section 7
                    </span>
                    <span class="sect" id="triggerText8">
                        Section 8
                    </span>
                    <span class="sect" id="triggerText9">
                        Section 9
                    </span>
                    <span class="sect" id="triggerText10">
                        Section 10
                    </span>
                    <span class="sect" id="triggerText11">
                        Section 11
                    </span>
                </div>
            </div>
            <div class="content-container">
                <h2> Meow's Privacy Policy</h2>
                <h3>Overview</h3>
                <p>These Terms of Service ("Terms") govern your access to and use of the services provided by Meow ("Company," "we," "us," or "our"), including our website and any related applications or platforms (collectively, the "Services"). By accessing or using the Services, you agree to be bound by these Terms. If you do not agree to these Terms, you may not access or use the Services.</p>
                <button class="collapsible" id="targetButton1">Section 1 - Acceptance of Terms</button>
                <div class="content" id="targetSection1" >
                  <p>By accessing or using the Services, you agree to be bound by these Terms and any additional terms and conditions that may apply to specific features of the Services. If you do not agree to these Terms, you may not access or use the Services.</p>
                    <br>
                </div>
                
                <button class="collapsible" id="targetButton2">Section 2 - Privacy Policy</button>
                <div class="content" id="targetSection2" >
                  <p>Your use of the Services is also subject to our Privacy Policy. By using the Services, you consent to the collection, use, and sharing of your information as described in our Privacy Policy.</p>
                    <br>
                <div class="section-title-1">
                                    1. Information we collect and its uses
                                </div>
                                <div class="section-body">
                                    We collect information to provide services to all our users, effectively managing your CCA records and participation
                                </div>
                    <br>
                                <div class="section-title-2">
                                    1.1 Information you provide us directly
                                </div>
                                <div class="section-body">
                                    <p>When you sign up with us, you provide us with personal information that includes your name, username, email and a password. You can also choose to add a phone number, your CCA (Co-Curricular Activity) and participation activities to your account.</p>
                        <br>
                             <p>Some features of the Services may require you to directly provide us with certain information about yourself. You may elect not to provide this information, but doing so may prevent you from using or accessing these features.</p>

                                </div>
                            <br>
                                <div class="section-title-3">
                                    1.1.1 Your activity
                                </div>
                            <br>
                                <div class="section-body">
                                   <p>We collect information about your activity in our services, which we use to do things like check for the most recent and accurate record and to provide you with a history of your activity. The activity information we collect may include:</p> 
                                    <br>
                                    <p>Date and Time of CCA record update (this includes removal, addition or alteration of record)</p>
                                    <br>
                                    <p>Date and Time of personal record update (this includes removal, addition or alteration of information)</p>

                                </div>
                    <br>
                                <div class="section-title-2">
                                    1.2 Third party information we collect
                                </div>
                    <br>
                                <div class="section-body">
                                    <p>Finally, we may obtain information about you from third parties, including from vendors and service providers who may collect information on our behalf, such as:</p>
                                    <br>
                                    <p> Companies who support our Site and Services, such as your school domain</p>
                                    <br>
                                    <p>  We collect information from the college’s database/ entries, these include previous JC2 CCA records, participation, roles, responsibilities and even personal information of yours. This information is collected to better serve all our users and create a more cohesive and detailed database for you to store your CCA records. </p>
                                    <br>
                                    <p>When you visit our Site, open or click on emails we send you, or interact with our Services, we, or third parties we work with, may automatically collect certain information using online tracking technologies such as pixels, software developer kits, third-party libraries, and cookies</p>
                                    <br>
                                    <p>Any information we obtain from third parties will be treated in accordance with this Privacy Policy. We are not responsible or liable for the accuracy of the information provided to us by third parties and are not responsible for any third party's policies or practices. </p>
                        </div>

                            <br>

                            <div class= "section-title-1">
                                2. Mode and place of processing the Data
                            </div>
                            <div class= "section-body">
                                We take appropriate security measures to prevent unauthorised access, disclosure, modification, or unauthorised destruction of the Data.
                            </div>
                        <br>
                            <div class= "section-title-2">
                                2.1 Location of your Data
                            </div>
                            <div class= "section-body">
                                The Data is processed at the Owner's operating offices and in any other places where the parties involved in the processing are located.
                                <br>
                                    The Data is processed at the Owner's operating offices and in any other places where the parties involved in the processing are located.
                            </div>
                        <br>
                            <div class= "section-title-2">
                                2.2 Retention time
                            </div>
                            <div class= "section-body">
                                Unless specified otherwise in this document, Personal Data shall be processed and stored for as long as required by the purpose they have been collected for and may be retained for longer due to applicable legal obligation or based on the Users’ consent.
                            </div>
<br>
                            <div class= "section-title-1">
                            3. You have choices regarding the information we collect and how it's used
                            </div>
                    <br>
                            <div class= "section-title-2">
                            3.1 Managing, reviewing, and updating your information 
                            </div>
                            <div class= "section-body">
                            <p>You may have a right to direct us to limit our use and/or disclosure of sensitive personal information to only what is necessary to perform the Services or provide the goods reasonably expected by an average individual.</p>
                            <br>
                            <p>Restriction of Processing/ Withdrawal of Consent: Appeal: You may have the right to ask us to stop or restrict our processing of personal information. </p>
                                <br>
                                <p>Restriction of Processing/ Withdrawal of Consent: Appeal: You may have the right to ask us to stop or restrict our processing of personal information. </p>
                                <br>
                            <p>Note: This withdrawal of consent on your information is subject to your school admin’s approval.        </p> 
                            <br>
                            <p>For example, </p>
                                <br>
                               <p>When you’re signed in, you can always review and update personal information by visiting the Profile page and editing your information accordingly.</p> 
                             <br>
                                <p>To view your activity, click on History under the Profile page.</p>
                            <br>
                            <p>History allows you to review and control data that’s saved to your Account when you’re signed in and using our services, like records you've added and activities you've updated. </p>
                                <br>
                                <p>As for CCA records, activity and participation, you can review and update those information under the Homepage where you can update/ remove or add activities/ membership accordingly.</p>
                            <br>
                            <p>Managing Communication Preferences: We may send you promotional emails, and you may opt out of receiving these at any time by using the unsubscribe option displayed in our emails to you. If you opt out, we may still send you non-promotional emails, such as those about changes to your account.</p>
                            <br>
                                <p>  You may exercise any of these rights by accessing your Profile page, by contacting your school’s administrator or by contacting us using the contact details provided below.</p>
        </div>
        <br>
                    
    <div class= "section-title-2">
        3.2 Exporting, removing & deleting your information
        </div>
    <br>
        <div class= "section-body">
        <p> For users,</p>
            <br>
        <p>To delete your information, you can:</p>
            <br>
            <p>Delete your CCA participation/ activity</p>
            <br>
            <p>However, deletion of CCA membership and deletion of accounts can only be done through your college’s admin account. Do approach your teachers/ admin for removal of your CCA membership or account. </p>
            <br>
        </div>
    <div class="section">
        <div class="section-title-1">
        4. When we share your information 
        </div>
        <div class="section-body">
        We do not share your personal information with companies, organisations, or individuals outside of us except in the following cases: 
        </div>
        <br>
        <div class="section-title-2">
        4.1 With your consent 
        </div>
        <div class="section-body">
        <p>We’ll share personal information outside of us when we have your consent. For example, if you use… We’ll ask for your explicit consent to share any sensitive personal information. </p>
        </div>
        <br>
            <div class="section-title-2">
                4.2 With domain administrators 
            </div>
            <div class="section-body">
                <p>For student accounts that use our services, your college administrator who manages your account will have access to your personal Account and information. They may be able to:</p>
                    <br>
                    <p>Access and retain information stored in your account, like your email</p>
                <br>
                <p>View statistics regarding your account, like what CCA records you have updated and when</p>
                <br>

                    <p>Change and update your CCa record or personal information </p>
                <br>
                <p>Change your account password</p>
                <br>
                    <p>Suspend or terminate your account access </p>
                <br>
                    <p>Restrict your ability to delete or edit your information or your privacy settings</p>
            </div>
        <br>
            <div class="section-title-2">
                4.3 For legal reasons
            </div>
            <div class="section-body">
                <p>We will share personal information outside of our domain if we have a good-faith belief that disclosure of the information is reasonably necessary to: </p>
                <br>
                <p> Respond to any applicable law, regulation,legal process, or enforceable governmental request.</p>
                   <br>
                <p> Protect against harm to the rights, property or safety of our domain, our users, or the public. </p>
            <br>
                <p>
                If we are involved in a merger, acquisition, or sale of assets, we’ll continue to ensure the confidentiality of your personal information and give affected users notice before personal information is transferred or becomes subject to a different privacy policy.
        </p>
            </div>
        <br>
        <div class="section-title-2">
        4.4 Our promise
        </div>
        <div class="section-body">
        <p>We build security into our services to protect your information. All our products are built with strong security features that continuously protect your information. </p>
        <br>
          <p>If we do detect something risky that we think you should know about, we’ll notify you and help guide you through steps to stay better protected. We work hard to protect you and us from unauthorised access, alteration, disclosure, or destruction of information we hold, including: </p>
        <br>
        <p> -Encryption to keep your data private while in transit </p>
        <br>
        <p> -Offering a range of security features, like 2 Step Verification to help you protect your account </p>
        <br>
        <p> -We review our information collection, storage, and processing practices, including physical security measures, to prevent unauthorised access to our systems </p>
        <br>
        <p> -We restrict access to personal information to our employees, contractors, and agents who need that information in order to process it. Anyone with this access is subject to strict contractual confidentiality obligations and may be disciplined or terminated if they fail to meet these obligations</p>
        </div>
<br>
        <div class="section">
        <div class="section-title-1">
        5. Changes to this policy 
        </div>
        <div class="section-body">
        We change this Privacy Policy from time to time. We will not reduce your rights under this Privacy Policy without your explicit consent. We always indicate the date the last changes were published and we offer access to archived versions for your review. If changes are significant, we’ll provide a more prominent notice (including, for certain services, email notification of Privacy Policy changes)
        </div>
        </div>
        <br>
            <div class="section">
                <div class="section-title-1">
                  6. Complaints 
                </div>
                <div class="section-body">
                    If you have complaints about how we process your personal information, please contact us or your school’s administrator using the contact details provided below. If you are not satisfied with our response to your complaint, you have the right to appeal our decision by contacting us using the contact details set out below, or lodge your complaint with your local data protection authority.
                </div>
                <br>
                <div class="section-title-2">
                    6.1 Contact
                </div>
                <div class="section-body">
                    <p>Should you have any questions about our privacy practices or this Privacy Policy, or if you would like to exercise any of the rights available to you, you can contact us through the following means, </p>
                    <br>
                        <p>Phone number:</p>
                        <p>Email: isaac.jonathan.foo_2324@nyjc.edu.sg </p>
                        <p>Address: 128 Serangoon Ave 3, Singapore 556111, Singapore.</p>
        <br>
                       <p> For the purpose of applicable data protection laws, we are the data controller of your personal information. </p>
                </div>
            </div>
<br>
        </div>
    </div>

<button class="collapsible" id="targetButton3">Section 3 - User Accounts</button>
<div class="content" id="targetSection3" >
<p>Some features of the Services may require you to create an account. You are responsible for maintaining the confidentiality of your account credentials and for all activities that occur under your account. You agree to notify us immediately of any unauthorized use of your account.</p>
<br>
</div>

<button class="collapsible" id="targetButton4">Section 4 - Use of Services</button>
<div class="content" id="targetSection4" >
<p>You agree to use the Services only for lawful purposes and in accordance with these Terms and any applicable laws and regulations. You may not use the Services in any manner that could damage, disable, overburden, or impair our servers or networks, or interfere with any other party's use and enjoyment of the Services.</p>
                    <br>
                </div>
                
                <button class="collapsible" id="targetButton5">Section 5 - Intellectual Property</button>
                <div class="content" id="targetSection5" >
                  <p>All content and materials available on or through the Services are the property of the Company or its licensors and are protected by copyright, trademark, and other intellectual property laws. You may not use, reproduce, modify, distribute, or transmit any such content or materials without the prior written consent of the Company.</p>
                    <br>
                </div>
                <button class="collapsible" id="targetButton6">Section 6 - Third-Party Content</button>
                <div class="content" id="targetSection6" >
                  <p>The Services may include links to third-party websites, services, or resources. We have no control over, and assume no responsibility for, the content, privacy policies, or practices of any third-party websites, services, or resources.</p>
                    <br>
                </div>
                <button class="collapsible" id="targetButton7">Section 7 - Disclaimer of Warranties</button>
                <div class="content" id="targetSection7" >
                  <p>The Services are provided on an "as is" and "as available" basis, without any warranties of any kind, express or implied. We do not warrant that the Services will be uninterrupted or error-free, or that defects will be corrected.</p>
                    <br>
                </div>
                <button class="collapsible" id="targetButton8">Section 8 - Limitation of Liability</button>
                <div class="content" id="targetSection8" >
                  <p>To the fullest extent permitted by applicable law, we shall not be liable for any indirect, incidental, special, consequential, or punitive damages, or any loss of profits or revenues, whether incurred directly or indirectly, arising out of or in connection with these Terms or the use of the Services.</p>
                    <br>
                </div>
                <button class="collapsible" id="targetButton9">Section 9 - Indemnification</button>
                <div class="content" id="targetSection9" >
                  <p>You agree to indemnify and hold the Company harmless from and against any and all claims, liabilities, damages, losses, costs, or expenses arising out of or in connection with your violation of these Terms or your use of the Services.</p>
                    <br>
                </div>
                <button class="collapsible" id="targetButton10">Section 10 - Governing Law</button>
                <div class="content" id="targetSection10" >
                  <p>These Terms shall be governed by and construed in accordance with the laws of Singapore, without giving effect to any principles of conflicts of law.</p>
                    <br>
                </div>
                <button class="collapsible" id="targetButton11">Section 11 - Changes to Terms</button>
                <div class="content" id="targetSection11" >
                  <p>We reserve the right to modify or revise these Terms at any time, and such modifications or revisions will be effective immediately upon posting on the Services. Your continued use of the Services following the posting of any modifications or revisions to these Terms constitutes your acceptance of such modifications or revisions.</p>
                    <br>
                </div>
                <br>
                <p>If you have any questions about these Terms, please contact us at [contact email].</p>
                <br>
                <p>Effective Date: January 1, 2024</p>
            </div>
        </div>
        {% set page = "privacy" %}    
        {% block content %}
            {% include 'navigation.html' %}
        {% endblock %}
        <script src="static/js/pp_script.js"></script>
    </body>
    {% set loggedin = False %}    
    {% block content %}
        {% include 'navigation.html' %}
    {% endblock %}
</html>