<!DOCTYPE html>
<html>
    <head>
        <title>Profile</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/profile.css') }}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <section class="profile-section">
            <div class="profile-container">
                
                <div class="profile-display-container">
                    <div class="profile-picture-container">
                    {% if has_img == True %}
                    <img src = "{{ url_for('static', filename=file) }}" class = "profile-picture">
                    {% else %}
                    <img src = "{{ url_for('static', filename='images/daijin.png') }}" class = "profile-picture">
                    {% endif %}
                    </div>
                    
                    <span class = "profile-name">
                        <h2>
                            {% if "name" in profile %}
                                {{ profile["name"] }}
                            {% else %}
                                Zhuo Howren
                            {% endif %}
                        </h2>
                    </span>
                
                    <span class = "profile-username">
                        <h3>@
                            {% if "username" in profile %}
                                {{ profile["username"] }}
                            {% else %}
                                username
                            {% endif %}
                        </h3>
                    </span>
                    <form action = "/profile" method="post">
                        {% if edit == False %}
                        <input name="response" type="submit" class='edit-profile-button' value="Edit">
                        {% elif edit == True %}
                        <input name="response" type="submit" class='save-profile-button' value="Save">
                        {% endif %}
                    </form>
                    <form action = "/profile" method="post">
                        {% if edit == False %}
                        <button id="btn" class = "download-profile-label">Download profile</button>
                        <input name="response" type="file" id="inputField" class = "download-profile-button" value = "download">
                        {% elif edit == True %}
                        <input name="response" type="submit" class='cancel-profile-button' value="Cancel">
                        {% endif %}
                    </form>
                </div>
                
                <div class="profile-description-container">
                    <span class="profile-title"><h1>Profile Page</h1></span>
                    <div class="email-number-container">
                        <div class="email-container">
                            <span class="email-label">email:</span>
                            <br>
                            <span class="email-content">
                                {% if "email" in profile %}
                                    {{ profile["email"] }}
                                {% else %}
                                    zhuohowren123@gmail.com
                                {% endif %}
                            </span>
                        </div>
                        <div class="number-container">
                            <span class="number-label">number:</span>
                            <br>
                            <span class="number-content">
                                {% if "number" in profile %}
                                    {{ profile["number"] }}
                                {% else %}
                                    +65 98765432
                                {% endif %}
                            </span>    
                        </div>
                    </div>
                    <div class="about-container">
                        <span class="about-label">
                            About Me:
                        </span>
                        <br>
                        <div class="about">
                            {% if edit == True %}
                            <textarea id="about-field" type="text" name="message" placeholder="Meow!">
{% if "about" in profile %}{{ profile["about"] }}{% endif %}
                            </textarea>
                            {% elif edit == False %}
                            <textarea id="about-field" type="text" name="message" placeholder="Meow!" readonly>
{% if "about" in profile %}{{ profile["about"] }}{% endif %}
                            </textarea>
                            {% endif %}
                        </div>
                    </div>
                </div>
                
            </div>
        </section>
        {% set loggedin = True %}    
        {% block content %}
            {% include 'navigation.html' %}
        {% endblock %}
    </body>
</html>

