<!-- records/activites page -->
<!DOCTYPE html>
<html>
    <head>
        <title>RECORD ACTIVITY</title>
        <style>
            h5{
                text-align: right;
            }
            th, td {
              border: 1px gray;
              border-radius: 10px;
            }
            table {
              border-collapse: collapse;
              width: 100%;
            }
        </style>
    </head>

    <body>
        <h3>My records</h3>
        </br>
        <table>
            <th>
                <td>
                    CCA
                </td>
                <td>
                    Activities
                </td>
            </th>
        </table>

        </br>

        <table>
            <tr>
            <th>
                Walk For Rice
            </th>
            <td>
                <pre>Year: 2023</pre>
                <h5>
                    Status: Completed
                </h5>
            </td>
            </tr>

            </br>

            <tr>
            <th>
                Sports Carnival ref
            </th>
            <td>
                <pre>Year: 2023</pre>
                <h5>
                    Status: Completed
                </h5>
            </td>
            </tr>

            </br>

            <tr>
            <th>
                ISLE Batam
            </th>
            <td>
                <pre>Year: 2023</pre>
                <h5>
                    Status: Ongoing
                </h5>
            </td>
            </tr>

            </br>

            <tr>
            <th>
                Silver Homes
            </th>
            <td>
                <pre>Year: 2023</pre>
                <h5>
                    Status: Completed
                </h5>
            </td>
            </tr>
        </table>
        {% include 'navigation.html' %}
    </body>

</html>