<!DOCTYPE html>
<html>
    <style>
        h5{
            text-align: right;
        }
    </style>
    
    <head>
        <title>RECORDS</title>
    </head>

    <body>
        <h3>My records</h3>
        </br>
        <table border="1">
            <tr>
                <td>
                    CCA
                </td>
                <td>
                    Activities
                </td>
            </tr>
        </table>
        </br>
        <h4>
            Robotics
        </h4>
        <tr>
            <pre>Year: 2015 - 2018    Role: Vice President    Type: Clubs and societies </pre>
            <h5>
                Status: Graduated
            </h5>
        </tr>
        </br>
        <h4>
            Symphonic Band
        </h4>
        <tr>
            <pre>Year: 2019 - 2023    Role: Member    Type: Performing Arts </pre>
            <h5>
                Status: Graduated
            </h5>
        </tr>
        </br>
        <h4>
            Football
        </h4>
        <tr>
            <pre>Year: 2022 - 2023    Role: Captain    Type: Sports </pre>
            <h5>
                Status: Inactive
            </h5>
        </tr>
        </br>
        <h4>
            Floorball
        </h4>
        <tr>
            <pre>Year: 2023 -    Role: Logistics    Type: Sports </pre>
            <h5>
                Status: Active
            </h5>
        </tr>
        {% include 'navigation.html' %}
    </body>

</html>