<!-- records/cca page -->
<!DOCTYPE html>
<html>
    <head>
        <title>CCA Record</title>
    </head>

    <body>
        <h3>My records</h3>
        </br>
        <div>
            <p>CCA &nbsp;&nbsp;&nbsp;&nbsp; Activities</p>
        </div>
        
        </br>
        
        <div>
            <h3>Robotics</h3>
            <span>Year: 2015 - 2018 &nbsp;&nbsp;&nbsp;&nbsp; Role: Vice President &nbsp;&nbsp;&nbsp;&nbsp; Type: Clubs and societies </span>
            <span>Status: Graduated</span>
        </div>

        </br>

        <div>
            <h3>Symphonic Band</h3>
            <span>Year: 2019 - 2023 &nbsp;&nbsp;&nbsp;&nbsp; Role: Member &nbsp;&nbsp;&nbsp;&nbsp; Type: Performing Arts</span>
            <span>Status: Graduated</span>
        </div>

        </br>

        <div>
            <h3>Football</h3>
            <span>Year: 2022 - 2023 &nbsp;&nbsp;&nbsp;&nbsp; Role: Captain &nbsp;&nbsp;&nbsp;&nbsp; Type: Sports</span>
            <span>Status: Inactive</span>
        </div>

        </br>

        <div>
            <h3>Floorball</h3>
            <span>Year: 2023 - &nbsp;&nbsp;&nbsp;&nbsp; Role: Logistics &nbsp;&nbsp;&nbsp;&nbsp; Type: Sports</span>
            <span>Status: Active</span>
        </div>
        {% include 'navigation.html' %}
    </body>

</html>