<!-- records/activites page -->
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/records.css') }}">
        <title>CCA Record</title>
    </head>

    <body>
        <div class="myrecord-textbox">
            <h3 class="myrecord-text">My Activities</h3>
        </div>
        
        <div>
            <a href="/records_cca" target="_self"><button class="cca-activity-text-button" style="background: linear-gradient(180deg, whitesmoke 50%, white 50%)">CCA </br> <span style="color: white">h</span> </button></a><button class="cca-activity-text-button">Activities </br> <span style="color: white">h</span></button>
        </div>

        <div class="general-text">
            <div class="general-textbox">
                <span class="circle"></span>
                <span>
                    <h3>Walk for Rice</h3>
                    <span>Organiser: NYJC &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Year: 2023 </span>
                    <span class="status-text">Status: Completed</span>
                </span>
            </div>

            <div class="general-textbox">
                <span class="circle"></span>
                <span>
                    <h3>Sports carnival ref</h3>
                    <span>Organiser: NYJC &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Year: 2023 </span>
                    <span class="status-text">Status: Completed</span>
                </span>
            </div>

            <div class="general-textbox">
                <span class="circle"></span>
                <span>
                    <h3>ISLE Batam</h3>
                    <span>Organiser: Floorball &nbsp;&nbsp;&nbsp; Year: 2023 </span>
                    <span class="status-text">Status: <span style="color:mediumseagreen">Ongoing</span> </span>
                </span>
            </div>

            <div class="general-textbox">
                <span class="circle"></span>
                <span>
                    <h3>Silver Homes</h3>
                    <span>Organiser: SC &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Year: 2023 </span>
                    <span class="status-text">Status: Completed</span>
                </span>
            </div>
        </div>

        <button class="plus-button"> + </button>
        
        {% set page = "records" %}
        {% block content %}
            {% include 'navigation.html' %}
        {% endblock %}
    </body>
    
    </html>