<!-- records/cca page -->
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/records.css') }}">
        <title>CCA Record</title>
    </head>

    <body>
        <div class="myrecord-textbox">
            <h3 class="myrecord-text">My records</h3>
        </div>

        <div>
            <button class="cca-activity-text-button">CCA </br> <span style="color: white">h</span> </button><a href="/records_activities" target="_self"><button class="cca-activity-text-button" style="background: linear-gradient(180deg, whitesmoke 50%, white 50%)"> Activities </br> <span style="color: white">h</span></button> </a>
        </div>

        <div class="general-text">
            <div class="general-textbox">
                <span class="circle"></span>
                <span>
                    <h3>Robotics</h3>
                    <span>Year: 2015 - 2018 &nbsp;&nbsp;&nbsp;&nbsp; Role: Vice President &nbsp;&nbsp;&nbsp;&nbsp; Type: Clubs and societies </span>
                    <span class="status-text">Status: Graduated</span>
                </span>
            </div>

            <div class="general-textbox">
                <span class="circle"></span>
                <span>
                    <h3>Symphonic Band</h3>
                    <span>Year: 2019 - 2023 &nbsp;&nbsp;&nbsp;&nbsp; Role: Member &nbsp;&nbsp;&nbsp;&nbsp; Type: Performing Arts </span>
                    <span class="status-text">Status: Graduated</span>
                </span>
            </div>

            <div class="general-textbox">
                <span class="circle"></span>
                <span>
                    <h3>Football</h3>
                    <span>Year: 2022 - 2023 &nbsp;&nbsp;&nbsp;&nbsp; Role: Captain &nbsp;&nbsp;&nbsp;&nbsp; Type: Sports </span>
                    <span class="status-text">Status: <span style="color:red">Inactive</span> </span>
                </span>
            </div>

            <div class="general-textbox">
                <span class="circle"></span>
                <span>
                    <h3>Floorball</h3>
                    <span>Year: 2023 - &nbsp;&nbsp;&nbsp;&nbsp; Role: Logistics &nbsp;&nbsp;&nbsp;&nbsp; Type: Sports </span>
                    <span class="status-text">Status: <span style="color:mediumseagreen">Active</span> </span>
                </span>
            </div>
        </div>

        <button class="plus-button"> + </button>

        {% set page = "records" %}
        {% block content %}
            {% include 'navigation.html' %}
        {% endblock %}
    </body>

    </html>