<!-- records/activites page -->
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/records.css') }}">
        <title>Activity Record</title>
    </head>

    <body>
        <div class="myrecord-textbox">
            <h3 class="myrecord-text">My Activities</h3>
        </div>
        
        <div>
            <a href="/records_cca" target="_self"><button class="cca-activity-text-button" style="background: linear-gradient(180deg, whitesmoke 50%, white 50%)">CCA </br> <span style="color: white">h</span> </button></a><button class="cca-activity-text-button">Activities </br> <span style="color: white">h</span></button>
            <!--spanning a button within in same line will make them stay together on the same line with no space between them-->
            <!--the href links the button to the respective page when it is clicked on-->
            <!--the use of a letter is meant to divide the box into 2 distinct lines/sections so as to match with the rest of the colours-->
            <!--linear gradient helps to fit 2 colours in a box. The degree specified marks how the line is drawn-->
        </div>

        <div class="general-text">
            {% if my_activites | length == 0 %}
            <h1 class="no_activity">You dont have any Activities yet</h1>
            {% endif %}
            {% for activity in my_activities %}
            <div class="general-textbox">
                <span class="circle"></span>
                <h3>
                    <span class="name_content">
                        {{ activity["name"] }}
                    </span>
                </h3>
                <span class="year_content">
                    <span class="organiser-lable">Organiser: </span>
                    {% if edit == False %}
                        {{ activity["organiser"] }}
                    {% else %}
                        <input type="text" value="{{ cca['organiser'] }}" class="organiser-input" name="organiser">
                    {% endif %}
                </span>
                <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                <span class="year_content">
                    <span class="year-label">Year: </span>
                    {% if edit == False %}
                        {{ activity["year"] }}
                    {% else %}
                        <input type="text" value="{{ activity['year'] }}" class="year-input" name="year">
                    {% endif %}
                </span>
                {% if delete == True %}
                <button type="submit", name="response", value="{{ activity['name'] }}", class="delete_button">
                    <img src="{{ url_for('static',filename= 'images/delete.png') }}">
                </button>
                {% endif %}
                <span class="status-text">
                    <span class="status-label">Status: </span>
                    {% if edit == False %}
                        {{ activity["status"] }}
                    {% else %}
                        <input type="text" value="{{ activity['status'] }}" class="status-input" name="status">
                    {% endif %}
                </span>
            </div>
            {% endfor %}
        </div>
        {% set loggedin = True %}
        {% block content %}
            {% include 'navigation.html' %}
        {% endblock %}
    </body>
    
    </html>