<!-- launch page -->
<!DOCTYPE html>
<html>
  <head>
    <title>Meow</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
  </head>

  <body>
  <div class="topbar-blank">
    <img class="logo-img1" src="{{ url_for('static',filename= 'images/cat.svg') }}">
    <span class="logo-text">
        Meow
    </span>
  </div>

  <div class="tagline-section">
    <div class="tagline-container">
    <div class="tagline">
      <img class="logo-img2" src="{{ url_for('static',filename= 'images/cat.svg') }}">
      <h2>Meow. The purr-fect record manager, coming to you soon!</h2>
    </div>
    </div>
  </div>

  <div class="intro-section">
    <div class="row">
    <div class="column">
      <div class="feature-box">
        <h3>Manage</h3>
        <h4>Manage not only your own, but also your organisation's records!</h4>
      </div>
    </div>
    <div class="column">
      <div class="feature-box">
        <h3>Ease</h3>
        <h4>Practical and easy to use interface.</h4>
      </div>
    </div>
    <div class="column">
      <div class="feature-box">
        <h3>Elegant</h3>
        <h4>Sleek design and animations, and of course...cats!</h4>
      </div>
    </div>
    </div>
  </div>
  </body>
</html>