<!DOCTYPE HTML>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/pp_style.css') }}">

        <title>
            Meow's Terms and Conditions
        </title>
    </head>
    <body>
        <div class="main-container">
            <div class="subsection-container">
                <!-- Content for the subsection -->
                <div class="sub-container">
                    <span class = "sect" id="topLink">
                        Overview
                    </span>
                    <span class="sect" id="triggerText1">
                        Section 1
                    </span>
                    <span class="sect" id="triggerText2">
                        Section 2
                    </span>
                    <span class="sect" id="triggerText3">
                        Section 3
                    </span>
                    <span class="sect" id="triggerText4">
                        Section 4
                    </span>
                    <span class="sect" id="triggerText5">
                        Section 5
                    </span>
                    <span class="sect" id="triggerText6">
                        Section 6
                    </span>
                    <span class="sect" id="triggerText7">
                        Section 7
                    </span>
                    <span class="sect" id="triggerText8">
                        Section 8
                    </span>
                    <span class="sect" id="triggerText9">
                        Section 9
                    </span>
                    <span class="sect" id="triggerText10">
                        Section 10
                    </span>
                    <span class="sect" id="triggerText11">
                        Section 11
                    </span>
                </div>
            </div>
            <div class="content-container">
                <h2> Meow's Terms and Conditions</h2>
                <h3>Overview</h3>
                <p>These Terms of Service ("Terms") govern your access to and use of the services provided by Meow ("Company," "we," "us," or "our"), including our website and any related applications or platforms (collectively, the "Services"). By accessing or using the Services, you agree to be bound by these Terms. If you do not agree to these Terms, you may not access or use the Services.</p>
                <button class="collapsible" id="targetButton1">Section 1 -  Acceptance of Terms
</button>
                <div class="content" id="targetSection1" >
                  <p>By accessing or using the Services, you agree to be bound by these Terms and any additional terms and conditions that may apply to specific features of the Services. If you do not agree to these Terms, you may not access or use the Services.</p>
                    <br>
                </div>

                <button class="collapsible" id="targetButton2">Section 2 - Privacy Policy</button>
                <div class="content" id="targetSection2" >
                  <p>Your use of the Services is also subject to our Privacy Policy. Our Privacy Policy outlines how we collect, use, disclose, and protect your personal data. By using the Services, you consent to the collection, processing, and storage of your personal data as described in our Privacy Policy. Our Privacy Policy also details your rights regarding your personal data and how you can exercise those rights.</p>
                </div>

                <button class="collapsible" id="targetButton3">Section 3 - User Accounts</button>
                <div class="content" id="targetSection3" >
                  <p>Some features of the Services may require you to create an account. During account creation, we collect personal data such as your name, email address, and password. This information is used to provide you with access to the Services and to personalize your experience. We obtain explicit consent from you for the collection and processing of your personal data. You are responsible for maintaining the confidentiality of your account credentials and for all activities that occur under your account. You agree to notify us immediately of any unauthorized use of your account.</p>
                </div>

                <button class="collapsible" id="targetButton4">Section 4 - Use of Services</button>
                <div class="content" id="targetSection4" >
                  <p>You agree to use the Services only for lawful purposes and in accordance with these Terms and any applicable laws and regulations. You may not use the Services in any manner that could damage, disable, overburden, or impair our servers or networks, or interfere with any other party's use and enjoyment of the Services.</p>
                </div>

                <button class="collapsible" id="targetButton5">Section 5 - Intellectual Property
</button>
                <div class="content" id="targetSection5" >
                  <p>All content and materials available on or through the Services are the property of the Company or its licensors and are protected by copyright, trademark, and other intellectual property laws. You may not use, reproduce, modify, distribute, or transmit any such content or materials without the prior written consent of the Company.</p>
                </div>

                <button class="collapsible" id="targetButton6">Section 6 - Third-Party Content</button>
                
                <div class="content" id="targetSection6" >
                    <p>The Services may include links to third-party websites, services, or resources. We have no control over, and assume no responsibility for, the content, privacy policies, or practices of any third-party websites, services, or resources.</p>
                </div>

                <button class="collapsible" id="targetButton7">Section 7 - Disclaimer of Warranties</button>
                
                <div class="content" id="targetSection7" >
                    <p>The Services are provided on an "as is" and "as available" basis, without any warranties of any kind, express or implied. We do not warrant that the Services will be uninterrupted or error-free, or that defects will be corrected. However, this disclaimer does not affect our responsibility for protecting your personal data as required by applicable laws, including the PDPA.</p>
                </div>

                <button class="collapsible" id="targetButton8">Section 8 - Limitation of Liability</button>

                <div class="content" id="targetSection8" >
                    <p>To the fullest extent permitted by applicable law, we shall not be liable for any indirect, incidental, special, consequential, or punitive damages, or any loss of profits or revenues, whether incurred directly or indirectly, arising out of or in connection with these Terms or the use of the Services.</p>
                </div>

                <button class="collapsible" id="targetButton9">Section 9 -  Indemnification</button>

                <div class="content" id="targetSection9" >
                    <p>You agree to indemnify and hold the Company harmless from and against any and all claims, liabilities, damages, losses, costs, or expenses arising out of or in connection with your violation of these Terms or your use of the Services, including any breaches of data protection laws.</p>
                </div>

                <button class="collapsible" id="targetButton10">Section 10 - Governing Law</button>

                <div class="content" id="targetSection10" >
                    <p>These Terms shall be governed by and construed in accordance with the laws of Singapore, including the PDPA, without giving effect to any principles of conflicts of law.</p>
                </div>

                <button class="collapsible" id="targetButton11">Section 11 - Changes to Terms</button>

                <div class="content" id="targetSection7" >
                    <p>We reserve the right to modify or revise these Terms at any time, and such modifications or revisions will be effective immediately upon posting on the Services. Your continued use of the Services following the posting of any modifications or revisions to these Terms constitutes your acceptance of such modifications or revisions.</p>
                    
                </div>
                <br>
                <p>If you have any questions about these Terms, please contact us at [contact email].</p>
                <br>
                <p>Effective Date: January 1, 2024</p>
            </div>
        </div>
        <script src="static/js/pp_script.js"></script>
        {% set loggedin = False %}    
        {% block content %}
            {% include 'navigation.html' %}
        {% endblock %}
        </body>
        <hr>

</html>