<!DOCTYPE HTML>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/pp_style.css') }}">

        <title>
            Meow's Terms and Conditions
        </title>
    </head>
    <body>
        <div class="main-container">
            <div class="subsection-container">
                <!-- Content for the subsection -->
                <div class="sub-container">
                    <span class = "sect" id="topLink">
                        Overview
                    </span>
                    <span class="sect" id="triggerText1">
                        Section 1
                    </span>
                    <span class="sect" id="triggerText2">
                        Section 2
                    </span>
                    <span class="sect" id="triggerText3">
                        Section 3
                    </span>
                    <span class="sect" id="triggerText4">
                        Section 4
                    </span>
                    <span class="sect" id="triggerText5">
                        Section 5
                    </span>
                    <span class="sect" id="triggerText6">
                        Section 6
                    </span>
                </div>
            </div>
            <div class="content-container">
                <h2> Meow's Terms and Conditions</h2>
                <h3>Overview</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat</p>
                <button class="collapsible" id="targetButton1">Open Section 1</button>
                <div class="content" id="targetSection1" >
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    <br>
                </div>

                <button class="collapsible" id="targetButton2">Open Section 2</button>
                <div class="content" id="targetSection2" >
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                </div>

                <button class="collapsible" id="targetButton3">Open Section 3</button>
                <div class="content" id="targetSection3" >
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                </div>

                <button class="collapsible" id="targetButton4">Open Section 4</button>
                <div class="content" id="targetSection4" >
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                </div>

                <button class="collapsible" id="targetButton5">Open Section 5</button>
                <div class="content" id="targetSection5" >
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                </div>

            </div>
        </div>
        {% set page = "privacy" %}    
        {% block content %}
            {% include 'navigation.html' %}
        {% endblock %}
        <script src="static/js/pp_script.js"></script>
        {% set loggedin = False %}    
        {% block content %}
            {% include 'navigation.html' %}
        {% endblock %}
        </body>
        <hr>

        </footer>
</html>