<!DOCTYPE HTML>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/view_activities.css') }}">

        <title>
            Meow's Activity View
        </title>
    </head>
    <body>
        <div class="contain">
            <div class="top-sect">
                <div class="top-content">
                    <a href="Link for backpage">
                    <button class="arrow left"></button>
                    </a>
                        <span class="circle"></span>

                    <div class="top-sect-header">
                        header
                    </div>
                    <br>
                    <div class="top-sect-organiser">
                        organiser
                    </div>
                </div>
            </div>
            
            <div class="bot-sect">
                <div class="sub-contain">
                    <div class="left-text">
                        <div class="bottom-header">
                            about
                        </div>
                        <br>
                        <div class="bottom-text">
                            date
                        </div>
                        <br>
                        <div class="bottom-text">
                            brief
                        </div>

                    </div>

                    <div class="right-text">
                        <div class= "bottom-header">
                            reflection
                            <a href="/edit_activities">
                            <img src="https://www.freeiconspng.com/thumbs/edit-icon-png/edit-new-icon-22.png" alt="edit">
                            </a>
                        </div>
                        <br>
                        <div class="bottom-text">
                        reflection text
                        <div>
                    </div>
                </div>
            </div>
        </div>

    </body>
</html>