<!DOCTYPE HTML>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/view_activities.css') }}">
            
        <title>
            Meow's activity view
        </title>
    </head>
    <body>
        <div class="contain">
            <div class="top-sect">
                <div class="top-content"
                    <div class="top-sect-picture">
                        <span class="circle"></span>
                    </div>
                    <div class="top-sect-header">
                        header
                    </div>
                    <br>
                    <div class="top-sect-organiser">
                        organiser
                    </div>
                </div>
            </div>
            
            <div class="bot-sect">
                <div class="sub-contain">
                    <div class="left-text">
                        <div class="bottom-header">
                            about
                        </div>
                        <br>
                        <div class="bottom-text">
                            date
                        </div>
                        <br>
                        <div class="bottom-text">
                            brief
                        </div>
                        
                    </div>
                    
                    <div class="right-text">
                        <div class= "bottom-header">
                            reflection
                        </div>
                        <br>
                        <div class="bottom-text">
                        reflection text
                        <div>
                    </div>
                </div>
                
            </div>
            
        </div>

    </body>
</html>